<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        android:theme="@style/Theme.AppCompat.Light">-->
        <activity android:name=".Settings" android:label="Настройки"/>
        <activity android:name=".ViewingRecords" android:label="Активные записи"/>
        <activity android:name=".RecordingActivity" android:label="Запись на приём"/>
        <activity android:name=".MasterInfo" android:label="Информация о мастере "/>
        <activity android:name=".NewFriend" android:label="Добавление мастер "/>
        <activity android:name=".List_masters" android:label="Список мастеров"/>
        <activity android:name=".UserProfile" android:label="Профиль пользователя"/>
        <activity android:name=".MapActivity" android:label="Меню" />
        <activity android:name=".MainActivity" android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>